* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.img-banner {
    display: block;
    width: 100%;
    padding-bottom: 50px;
}

.img-info {
    width: 50%;
    float: right;
    padding-right: 30px;
}

.img-info h2 {
    /* padding: 30px 30px 20px; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    color: #111;
    line-height: 55px;
}

.img-info p {
    /* padding: 30px 30px 20px; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    color: #111;
    line-height: 28px;
}

.img-news {
    float: left;
    width: 30%;
    padding-left: 30px;
}

@media only screen and (max-width: 768px) {
    .img-banner {
        padding-bottom: 20px;
    }

    .wrapper {
        margin: 0 auto;
        clear: both;
    }

    .img-info {
        float:none;
        width: 100%;
    }

    .img-info h2{
        padding: 0px 20px;
    }

    .img-info p {
        padding: 0px 20px;
        text-align: justify;
    }

    .img-news {
        float: none;
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }
}

@media only screen and  (max-width: 576px) {
    .img-banner {
        display: none;
    }

    .img-info {
        width: 100%;
        float: none;
    }

    .img-news {
        float: none;
        width: 100%;
    } 

    .img-info h2 {
        padding: 0 20px;
    }

    .img-info p {
        padding: 0 20px;
    }
}